:root {
    --black: #000000;
    --white: #FFFFFF;
    --red: rgb(207, 18, 18);
    --blue: rgb(18, 18, 228);
    --green: rgb(26, 148, 26);
}

.body {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal; 
    background-color: var(--black);
    color: var(--white);
    margin: 0;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}
.header > .header__wrapper {
    padding: 0 calc(50% - 600px);
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main > .main__wrapper {
    padding: 0 calc(50% - 600px);
}

.main > .main__wrapper > div {
    width: 86px;
    height: 27px;
    position: relative;
    left: 400px;
    top: 0px;
}

.main > .main__wrapper > div > h1 {
    font-size: medium;
}

.footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.footer > .footer__wrapper {
    padding: 0 calc(50% - 600px);
}